////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  ATOM - CONTENTBLOCK    	  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.content-block {
	padding: screenbased-calculation($minvalue:2.4, $maxvalue: 3.2);

	background-color: #333;

	@media (min-width: $screen-sm-min) {
		margin-left: screenbased-calculation($minvalue:-2.4, $maxvalue: -3.2);
	}
} // .content-block 