////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  ATOM - CONTENTBLOCK    	  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.content-block {
    padding-block: clamp(2.4rem, 2.21rem + 0.5128vw, 3.2rem);
    padding-inline: clamp(2.4rem, 2.21rem + 0.5128vw, 3.2rem);

    background-color: #333;

    hyphens: auto;
    overflow-wrap: normal;

    @media (min-width: $screen-sm-min) {
        margin-inline-start: clamp(-2.4rem, -2.21rem + 0.5128vw, -3.2rem);
    }
} // .content-block
