////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  ATOM - SOCIALSLIST 		  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.socialslist {
    display: flex;
    flex-wrap: wrap;

    .sociallist__item {
        inline-size: 100%;
        margin-block-end: 1.6rem;
        margin-inline-end: 1.6rem;

        @media (min-width: $screen-sm-min) {
            inline-size: auto;
        }

        a {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            justify-content: flex-start;
            padding-block: clamp(1.2rem, 1.1rem + 0.2564vw, 1.6rem);
            padding-inline: clamp(1.6rem, 1.4rem + 0.5128vw, 2.4rem);

            border-radius: var(--default-border-radius);

            text-decoration: none;

            @media (min-width: $screen-sm-min) {
                justify-content: center;
            }

            &:hover {
                background-color: rgb(0 0 0 / 10%);

                @include transition($transition-property: background-color);
            }
        } // a
    } // .sociallist__item

    .sociallist__item--twitter {
        background-color: #fff;
        
        a {
            color: #333;
        }

        svg {
            color: #1DA1F2;
        }
    }

    .sociallist__item--linkedin {
        background-color: #0077B5;
    }

    .sociallist__item--github {
        background-color: #333;
    }

    .sociallist__item--stackoverflow {
        background-color: #F48024;
    }

    .sociallist__item--foursquare {
        background-color: #0732A2;
    }

    svg {
        inline-size: 2.4rem;
        margin-inline-end: 1.6rem;
    }
} // .section-wrapper__socialslist
