////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  ATOM - AUTHOR 			  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.about-author {
    grid-area: sidebar;

    user-select: none;
}

.about-author__illustration {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
    margin-inline: 0;

    user-select: none;

    figcaption {
        inline-size: 80%;
        padding-block-start: 1.6rem;
    }
} // .about-author__illustration

.avatar-wrapper {
    position: relative;
    inline-size: 100%;
    max-inline-size: 25rem;
    margin-block-start: 8.5rem;

    svg {
        display: block;
        block-size: auto;
        inline-size: 100%;
    }

    img {
        position: absolute;
        bottom: 1px;
        left: 50%;
        inline-size: 70%;

        transform: translateX(-50%);
    }
} // .avatar-wrapper
