////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  ATOM - TOGGLE  		  	  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.input-toggle {
    input[type='checkbox'] {
        position: absolute;
        left: -9999px;

        &:checked {
            ~ .input-toggle__component {
                &::before {
                    background-color: #3FC560;
                }

                &::after {
                    transform: translateY(-50%) translateX(2rem);
                }
            }
        } // &:checked;
    } // input
} // .input-toggle

.input-toggle__component {
    display: flex;
    position: relative;
    align-items: center;
    inline-size: 100%;

    line-height: 24px;

    cursor: pointer;

    &::before {
        display: flex;
        flex: 0 0 auto;
        block-size: 2.8rem;
        inline-size: 4.8rem;
        margin-inline-end: 0.8rem;

        border: 0.1rem solid transparent;

        border-radius: 1.4rem;

        background: #1B1B1B;

        transition: all 0.2s ease-in-out;

        cursor: pointer;
        content: '';
    }

    &::after {
        display: block;
        position: absolute;
        top: 50%;
        left: 2px;
        block-size: 24px;
        inline-size: 24px;
        margin-inline-start: 0;

        border: 1px solid #FFF;
        border-radius: 13px;

        background-color: #FFF;

        transform: translateY(-50%);

        transition: all 0.2s ease-in-out;
        content: '';
    }
} // .input-toggle__component

.darkmode-enabler {
    grid-area: toggle;
    justify-self: center;

    @media (min-width: $screen-sm-min) {
        justify-self: end;
    }
} // .darkmode-enable
