////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  BASE LAYOUT               //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@keyframes fade-from-bottom {
	from {
		transform: translateY(2.5rem);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.main-content {
	grid-area: main;
} // .main-content 

// Every section
.section-wrapper {
	padding: 0 screenbased-calculation($minvalue:2.4, $maxvalue: 3.2) screenbased-calculation($minvalue: 2.4, $maxvalue: 4, $multiply: 2) screenbased-calculation($minvalue:2.4, $maxvalue: 3.2);
	animation: fade-from-bottom .4s cubic-bezier(.17,.67,.83,.67) forwards;

	transform: translateY(2.5rem);
	opacity: 0;

	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			animation-delay: 0.25s * $i;
		}
	}
} // .main-content__block

// The header section
.section-wrapper--header {
	li {
		font-size: screenbased-calculation($minvalue:1.8, $maxvalue: 2.4);
	}
} // .section-wrapper--header 


@keyframes mark-word {
	from {
		transform: translateX(0) skew(0deg);
	}

	to {
		transform: translate(100%) skew(-20deg);
	}
}

.section-wrapper__lead {
	margin: 0;

	font-size: screenbased-calculation($minvalue:3.2, $maxvalue: 5.6);
	text-transform: uppercase;
	line-height: screenbased-calculation($minvalue:4.8, $maxvalue: 6.7);

	@media (min-width: $screen-lg-min) {
		width: 70%
	}
} // .main-content__block__lead

.highlight {
	position: relative;

	font-family: var(--secondary-font);
	font-weight: 500;

	white-space: nowrap;

	&::before,
	&::after {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2.2rem;

		border-radius: 3px;

		transform: skew(-20deg);

		z-index: -1;
		content: '';

		@media (min-width: $screen-md-min) {
			height: 3.2rem;
		}
	}

	&::before {
		background-color: var(--secondary-color);
	}

	&::after {
		background-color: var(--bg-color);

		animation: mark-word .6s ease-out forwards;
		animation-delay: .25s;
	}
} // .highlight