////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//	VARIABLES       	      //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// COLORS
// --------------------------------------------------
:root {
	--main-font-color: #fff;
	--primary-color: #D81B60;
	--primary-color-tint: #FFBDD3;
	--secondary-color: #0582A1;
    --bg-color: var(--primary-color);
	--main-font: 'Courier', 'Courier New', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
	--secondary-font: 'circular', 'Helvetica', 'Arial', 'sans-serif';
	--default-border-radius: 2px;
}

.darkmode-pls {
	--bg-color: #1b1b1b;
}

// BORDER RADIUS
// --------------------------------------------------


// MARGINS / PADDINGS IN VARIABLES!
// --------------------------------------------------


// TRANSITION SETTINGS
// --------------------------------------------------


// MINIMAL AND MAXIMAL SCREENSIZE USED FOR CALCULATIONS
// --------------------------------------------------
$minscreensize: 36; // this is a rem value (without unit)
$maxscreensize: 192; // this is a rem value (without unit)

// FONTS
// --------------------------------------------------
$circular: 'circular', Helvetica Neue, Arial, sans-serif;

// IMAGE PATH
// --------------------------------------------------
$img-path: "../../assets/img/";


// FONTS PATH
// --------------------------------------------------
$fonts-path: "../../assets/fonts/";

// GRID SETTINGS
// --------------------------------------------------
$gutter-width: 1.6;
$outer-margin: 0.8rem;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: $gutter-width * 0.5;
// REM VALUES DO NOT WORK AS THEY DON'T USE THE HTML FONT-SIZE (62.5%) BUT THE BROWSER DEFAULT FONT-SIZE
// https://fvsch.com/browser-bugs/rem-mediaquery/
$screen-sm-min: (36em);
$screen-md-min: (48em);
$screen-lg-min: (62em);
$screen-xl-min: (92em);
$total-grid-items: 12;
$max-container-width: 1136px;
