////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  FONTS 		              //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

/* Circular Medium */
@font-face {
  font-family: 'circular';
  src: url('#{$fonts-path}lineto-circular-medium.woff2') format('woff2'),
       url('#{$fonts-path}lineto-circular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}