////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  BASE LAYOUT               //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@keyframes fade-from-bottom {
    from {
        transform: translateY(2.5rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.main-content {
    grid-area: main;
} // .main-content

// Every section
.section-wrapper {
    padding-block: 0 clamp(4.8rem, 4.06rem + 1.0256vw, 8rem);
    padding-inline: clamp(2.4rem, 2.2154rem + 0.5128vw, 3.2rem);

    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation-delay: 0.25s * $i;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        transform: translateY(2.5rem);

        opacity: 0;

        animation: fade-from-bottom 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
    }
} // .main-content__block

// The header section
.section-wrapper--header {
    li {
        font-size: clamp(1.8rem, 1.66rem + 0.3846vw, 2.4rem);
    }
} // .section-wrapper--header

@keyframes mark-word {
    from {
        transform: translateX(0) skew(0deg);
    }

    to {
        transform: translate(100%) skew(-20deg);
    }
}

.section-wrapper__lead {
    margin: 0;

    font-size: screenbased-calculation($minvalue:3.2, $maxvalue: 5.6);
    line-height: clamp(4.8rem, 4.43rem + 1.0256vw, 6.4rem);
    text-transform: uppercase;

    @media (min-width: $screen-lg-min) {
        inline-size: 70%;
    }
} // .main-content__block__lead

.highlight {
    display: inline-flex;
    position: relative;
    margin-inline-start: -0.8rem;
    padding-block: 0;
    padding-inline: 0.8rem;

    font-family: var(--secondary-font);
    font-weight: 500;

    white-space: nowrap;

    overflow: hidden;

    &::before,
    &::after {
        display: block;
        position: absolute;

        z-index: -1;
        bottom: 0;
        left: 0.4rem;
        block-size: 2.2rem;
        inline-size: calc(100% - 0.8rem);

        border-radius: 3px;

        transform: skew(-20deg);
        content: '';

        @media (min-width: $screen-md-min) {
            block-size: 3.2rem;
        }
    }

    &::before {
        background-color: var(--secondary-color);
    }

    &::after {
        background-color: var(--bg-color);

        animation: mark-word 0.6s ease-out forwards;
        animation-delay: 0.25s;

        @media (prefers-reduced-motion: reduce) {
            content: none;
        }
    }
} // .highlight
