////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//  FONTS 		              //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

/* Circular Medium */
@font-face {
    font-family: 'circular';
    font-style: normal;
    font-weight: 500;
    src: url('#{$fonts-path}lineto-circular-medium.woff2') format('woff2'),
        url('#{$fonts-path}lineto-circular-medium.woff') format('woff');
    font-display: swap;
}
